h1 {
    color: lightseagreen;
    padding-bottom: 20px;
}

#fill {
    background-color: lightseagreen;
    color: #fff;
}

.sidenav {
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    padding-top: 20px;   
}

.tn {
    width: "20";
    height: "20" 
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
  }

#dashImg {
    float: left;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
#table1 {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }

@media screen and (max-width: 1000px) {
    nav {
        background-color: lightseagreen;
    }
    .column {
        float: left;
        width: 100%;
        padding: 5px;
      }
}